@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Raleway', sans-serif;
}

.range-container {
  position: relative;
  width: 100%;
}
.range-input {
  width: 100%;
}
.tickmarks {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 25px; /* Adjust based on the height of your input */
}
.tickmarks span {
  font-size: 12px;
}

::-webkit-scrollbar {
  background: transparent !important;
  width: 0px !important;
}
